@page
@using QuestionPool.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@model QuestionPool.Pages.question.DisplayQuestionModel
@{
    string layout = "_Layout";
    if (User.IsInRole("Admin"))
    {
        layout = "_LayoutForAdmin";
    }
    Layout = layout;
}
<head>
    <!-- plugin css -->
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/quill/quill.core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/quill/quill.bubble.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/quill/quill.snow.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Tables css -->
    <link href="~/assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />


    <!-- Theme Config Js -->
    <script src="~/assets/js/head.js"></script>

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2023.1.425/js/kendo.all.min.js"></script>


    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.3.0/default/default-ocean-blue.css">
    <script src="https://kendo.cdn.telerik.com/2023.1.425/js/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        html {
            background-color: white;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .displayquestion-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .question-number{
            font-weight: bold;
            color: darkblue;
        }

        .question-container{
            border-right:1px solid;
        }

        .question-item {
            cursor: move;
            border-bottom: 1px solid #dee2e6;
            padding: 10px; /* Change cursor to indicate draggable */
            font-size:14px;
        }

        ul.answer-choices {
            list-style: none; /* 移除默认的 bullet point 样式 */
        }

        ul.answer-choices li::before {
                content: none; /* 隐藏自定义的 bullet point */
        }

        .answer-item {
            display: flex;
            align-items: center;
        }


        .answer-content {
            flex: 1; /* 让 answer-content 占据剩余的空间 */
        }
    </style>
</head>
<body>
    <h1></h1>
    <div id="displayquestion-container" style="background-color: #f8f9fa; border-radius: 10px; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);">
        <!-- Content -->
        <div class="col-12">
            <!-- Questions and Answers Container -->
            <div id="questions-answers-container">
                <!-- Questions List -->
                <div id="questions-list">
                    @foreach (var question in Model.Questions)
                    {
                        <div class="question-answer-container" style="display: flex; align-items: center;">
                            <!-- Question section -->
                            <div class="col-10 question-container">
                                <div class="question-item" id="listed-question" data-question-id="@question.Id">
                                    <span class="drag-handle" style="font-size: 15px; cursor: grab;">&#9776;</span> <!-- Drag handle -->
                                    <div>
                                        <p class="question-title" style="margin-left: 20px;">
                                            <span class="question-number">@question.QuestionNumber.</span>
                                            <span style="font-weight: bold; color: #333;">@Html.Raw(question.Name)</span>
                                            <br />
                                            <div style="display: flex; justify-content: center;">
                                                <img src="@question.Image" class="img-fluid" asp-append-version="true" style="width: 250px;">
                                            </div>
                                            <div class="question-text" style="margin-left: 40px;">@Html.Raw(question.Questions)</div>
                                        </p>
                                        <ul class="answer-choices">
                                            @{
                                                var choices = question.Choice.Trim('[', ']').Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                foreach (var choice in choices)
                                                {
                                                    var formattedChoice = choice.Replace("\"", ""); // Remove quotes
                                                    <li style="list-style:none">@formattedChoice.Trim()</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Answers Section -->
                            <div class="col-2 answer-container" style="display: flex; align-items: center;justify-content:center">
                                <div class="answer-item">
                                    <div class="answer-content">
                                        <span class="question-marks">[@question.Mark marks]</span>
                                        <!-- Answers part -->
                                        @if (question.QuestionAnswer.Any())
                                        {
                                            <ul style="padding-left: 40px; margin: 0;">
                                                @foreach (var answer in question.QuestionAnswer)
                                                {
                                                    <li>@answer.Answer</li>

                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
                
        <div style="display: flex;justify-content: space-between;margin-top:20px">
            <form id="pdfForm" method="post" asp-page-handler="ExportToPdf" target="_blank">
                <button id="exportQuestionsToPdf" class="btn btn-dark waves-effect waves-light" style="height:40px"><i class="mdi mdi-file-pdf-box"></i>Download Questions</button>
                <input type="hidden" name="questionsHtml" id="questionsHtml" value="">
            </form>
            <form id="pdfFormAnswers" method="post" asp-page-handler="ExportAnswersToPdf" target="_blank">
                <button id="exportAnswersToPdf" class="btn btn-dark waves-effect waves-light" style="height:40px; width:120px">
                    <i class="mdi mdi-file-pdf-box"></i> Download Answers
                </button>
                <input type="hidden" name="answersHtml" id="answersHtml" value="">
            </form>
        </div>

    </div>

</body>



@section scripts {
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sortable = new Sortable(document.getElementById('questions-list'), {
                animation: 150,
                handle: '.drag-handle',
                onEnd: function (evt) {
                    // 获取所有问题项
                    var questionItems = document.querySelectorAll('.question-item');

                    // 遍历问题项，并重新设置问题编号
                    questionItems.forEach(function (item, index) {
                        var questionNumberElement = item.querySelector('.question-number');
                        if (questionNumberElement) {
                            // 更新问题编号
                            questionNumberElement.textContent = index + 1 + '.';
                        }
                    });
                }
            });
        });
        $(document).ready(function () {
            $("#exportQuestionsToPdf").off('click').on('click', function (e) {
                e.preventDefault();
                var htmlContent = '';
                var questionContainers = document.querySelectorAll(".question-container");
                questionContainers.forEach(function (container) {
                    htmlContent += container.innerHTML;
                });
                $("#questionsHtml").val(htmlContent);
                $("#pdfForm").submit();
            });

            $("#exportAnswersToPdf").off('click').on('click', function (e) {
                e.preventDefault();
                var htmlContent = '<table style="border-collapse: collapse; border: 1px solid black; width: 100%;text-align: center;">'; // Added width styling to the table
                htmlContent += '<tr><th style="border: 1px solid black;text-align: center;">No</th><th style="border: 1px solid black;text-align: center;">Answer</th><th style="border: 1px solid black;text-align: center;">Mark</th></tr>'; // Table headers with border
                var answerIndex = 1; // Initial index
                var answerContainers = document.querySelectorAll(".answer-container");
                answerContainers.forEach(function (container) {
                    var answers = container.querySelectorAll("li");
                    answers.forEach(function (answer) {
                        var mark = answer.parentElement.parentElement.querySelector(".question-marks").textContent;
                        // Add answer, mark, and index to table row with border
                        htmlContent += '<tr><td style="border: 1px solid black;">' + answerIndex + '</td><td style="border: 1px solid black;">' + answer.innerHTML + '</td><td style="border: 1px solid black;">' + mark + '</td></tr>';
                        answerIndex++;
                    });
                });
                htmlContent += '</table>';
                $("#answersHtml").val(htmlContent);
                $("#pdfFormAnswers").submit();
            });
        });
        // document.addEventListener('DOMContentLoaded', function () {
        //     var sortable = new Sortable(document.getElementById('questions-list'), {
        //         animation: 150,
        //         handle: '.drag-handle',
        //         onEnd: function (evt) {
        //             // Update the order of questions after rearrangement
        //             var questionIds = [];
        //             var questionElements = document.querySelectorAll('.question-item');
        //             questionElements.forEach(function (element) {
        //                 questionIds.push(parseInt(element.dataset.questionId));
        //             });
        //             // Send the updated order to the server via AJAX or form submission
        //             // You can use Fetch API, jQuery.ajax, or submit a form with updated order
        //             // Example using Fetch API:
        //             fetch('/UpdateQuestionOrder', {
        //                 method: 'POST',
        //                 headers: {
        //                     'Content-Type': 'application/json'
        //                 },
        //                 body: JSON.stringify({ questionIds: questionIds })
        //             })
        //                 .then(response => {
        //                     if (!response.ok) {
        //                         throw new Error('Network response was not ok');
        //                     }
        //                     return response.json();
        //                 })
        //                 .then(data => {
        //                     console.log(data); // Handle server response if needed
        //                 })
        //                 .catch(error => {
        //                     console.error('There was a problem with your fetch operation:', error);
        //                 });
        //         }
        //     });
        // });
        // var questionItems = document.querySelectorAll('.question-item');

        // // 为每个问题项元素添加拖放事件监听器
        // questionItems.forEach(function (item, index) {
        //     item.addEventListener('dragend', function () {
        //         // 获取所有问题项
        //         var questionItems = document.querySelectorAll('.question-item');

        //         // 遍历问题项，并重新设置问题编号
        //         questionItems.forEach(function (item, index) {
        //             var questionNumberElement = item.querySelector('.question-number');
        //             if (questionNumberElement) {
        //                 // 获取问题编号的实际值（例如，从数据属性中获取）
        //                 var questionId = item.dataset.questionId;
        //                 var questionNumber = index + 1; // 重新计算问题编号，例如使用索引加 1

        //                 // 更新问题编号
        //                 questionNumberElement.textContent = questionNumber + '.';
        //             }
        //         });
        //     });
        // });

        // $(document).ready(function () {
        //     $("#exportToPdf").off('click').on('click', function (e) {
        //         e.preventDefault(); // Prevent any default button behavior
        //         var htmlContent = document.getElementById("questions-list").innerHTML;
        //         $("#htmlContent").val(htmlContent);
        //         $("#pdfForm").submit();
        //     });
        // });





        
    </script>
}
<!-- Vendor js -->
<script src="~/assets/js/vendor.min.js"></script>
<!-- Plugins js -->
<script src="~/assets/libs/quill/quill.min.js"></script>

<!-- Init js-->
<script src="~/assets/js/pages/form-quilljs.init.js"></script>

