@page
@model QuestionPool.Pages.question.QuestionbankModel
@{
}
<head>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- Bootstrap Tables css -->
    <link href="~/assets/libs/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />


    <!-- Theme Config Js -->
    <script src="~/assets/js/head.js"></script>

    <!-- Bootstrap css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- App css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    <!-- Icons css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<style>
        #dataModal {
            display: none; 
            position: relative; 
            top: 100%;
            margin-top: 20px; 
            width:950px;
        }
</style>

</head>
<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">ExamQuestionPool</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Question List</a></li>

                            </ol>
                        </div>
                        <h4 class="page-title">Question List</h4>
                    </div>
                </div>
            </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                            <form id="sortingForm" method="post" asp-page-handler="Submit">
                          <table id="demo-custom-toolbar" class="table-border" data-toggle="table" data-toolbar="#demo-delete-row" data-search="true"
                           data-show-refresh="true" data-show-columns="true" data-sort-name="id" data-page-list="[5, 10, 20]"
                           data-page-size="5" data-pagination="true" data-show-pagination-switch="true">
                        <thead class="table-light">
                            <tr>

                                 <th><input type="checkbox" id="selectAll" /></th>
                                <th data-field="questionnumber" data-sortable="true">No.</th>
                                <th data-field="name" data-sortable="true">Name</th>
                                <th data-field="text" data-sortable="true" data-formatter="dateFormatter">Question</th>
                                <th data-field="amount" data-align="center" data-sortable="true">Chioce</th>
                                <th data-field="status" data-align="center" data-sortable="true">Mark</th>
                                <th data-sortable="true" data-align="center">Answer</th>
                            </tr>
                        </thead>
                        <tbody>
                                    @foreach (var item in Model.Questions)
                                    {
                                        <tr>
                                            <td><input type="checkbox" class="selectedQuestion" name="SelectedQuestions" value="@item.Id" /></td>
                                            <td class="questionnumber"> @Html.DisplayFor(modelItem => item.QuestionNumber)</td>
                                            <td class="name">@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td class="question">@Html.DisplayFor(modelItem => item.Questions)</td>
                                            <td class="choice">@Html.DisplayFor(modelItem => item.Choice)</td>
                                            <td class ="mark">@Html.DisplayFor(modelItem => item.Mark)</td>
                                            <td class="answer">
                                                @if (item.QuestionAnswer.Any())
                                                {
                                                    <ul>
                                                        @foreach (var answer in item.QuestionAnswer)
                                                        {
                                                            <li>@answer.Answer</li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <p>No answers available</p>
                                                }
                                            </td>
                                        </tr>
                                    }
                        </tbody>
                    </table>
                                <input type="hidden" name="selectedQuestions" id="selectedQuestionsInput" />
                                <button type="button" id="submitButton">Submit Selected Questions</button>

                            </form>
                </div>
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


    </div> <!-- container -->
    </div> <!-- content --> 

</body>
<script>

    document.getElementById('submitButton').addEventListener('click', function () {
        var selectedData = [];
        var checkboxes = document.querySelectorAll('.selectedQuestion:checked');

        checkboxes.forEach(function (checkbox) {
            var rowData = {};
            var row = checkbox.closest('tr');
            rowData['id'] = checkbox.value;
            rowData['questionnumber'] = row.querySelector('.questionnumber').textContent.trim();
            rowData['name'] = row.querySelector('.name').textContent.trim();
            rowData['question'] = row.querySelector('.question').textContent.trim();
            rowData['choice'] = row.querySelector('.choice').textContent.trim();
            rowData['mark'] = row.querySelector('.mark').textContent.trim();
            rowData['answer'] = row.querySelector('.answer').textContent.trim();
            selectedData.push(rowData);
        });

        var selectedQuestions = selectedData.map(function (data) {
            return data.id;
        });
        var url = '/question/DisplayQuestion?selectedQuestions=' + encodeURIComponent(selectedQuestions.join(','));

        // 重定向到 DisplayQuestion 页面
        window.location.href = url; // Submit the form after collecting all data
    });
   
    // Listen for change events on checkboxes within the table
    // $('input[type="checkbox"]').change(function ()) {
    //     if ($('input[type="checkbox"]:checked').length > 0) {
    //         $('#exportButton').prop('disabled', false);
    //     } else {
    //         $('#exportButton').prop('disabled', true);
    //     }
    // });

    // // Handle button click event
    // $('#exportButton').on('click', function () {
    //     alert('Export button clicked!');
    // });
</script>
<!-- Vendor js -->
<script src="~/assets/js/vendor.min.js"></script>

<!-- Bootstrap Tables js -->
<script src="~/assets/libs/bootstrap-table/bootstrap-table.min.js"></script>

<!-- Init js -->
<script src="~/assets/js/pages/bootstrap-tables.init.js"></script>

@* <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-borderless">
                                <thead class="table-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Questions</th>
                                        <th>Choice</th>
                                        <th>Mark</th>
                                        <th>Answers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Questions)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Questions)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Choice)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Mark)</td>
                                            <td>
                                                @if (item.QuestionAnswer.Any())
                                                {
                                                    <ul>
                                                        @foreach (var answer in item.QuestionAnswer)
                                                        {
                                                            <li>@answer.Answer</li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <p>No answers available</p>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@
@*     // const checkboxes = document.querySelectorAll('.selectedQuestion');
    // const selectedCheckboxId = document.getElementById('selectedCheckboxId');

    // function handleCheckboxChange() {
    //     let checkedCheckboxId = '';

    //     // Check if any checkbox is checked
    //     checkboxes.forEach(checkbox => {
    //         if (checkbox.checked) {
    //             checkedCheckboxId = checkbox.value;
    //         }
    //     });

    //     // Update the element with the selected checkbox ID
    //     selectedCheckboxId.textContent = 'Selected Checkbox ID: ' + checkedCheckboxId;

    //     checkboxes.forEach(checkbox => {
    //         checkbox.addEventListener('change', handleCheckboxChange);
    //     }); *@

